Options +FollowSymLinks
RewriteEngine on
RewriteRule ^scripts/([\w-\.]*)\.(js|css)$ 					scripts/$1.$2 [NE,L]
RewriteRule ^img/([\w-\.]*)\.(jpg|png|jpeg|gif|tiff|bmp)$ 	img/$1.$2 [NE,L]
RewriteRule ^files/([\w\d-\.]*)\.(csv|png)$ 				files/$1.$2 [NE,L]
RewriteRule ^([\w]*)?/?([\w]*)?/?([\w-]*)? 					index.php?controller=$1&action=$2&id=$3&%{QUERY_STRING} [NC,NE,L]
RewriteRule ^(.*)? 											index.php?controller=Err&action=Err404 [NC]